<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

</body>
</html>
<?= getRatingByProductId(connect(),$page->id  ); ?>



&nbsp &nbsp Name&nbsp &nbsp &nbsp &nbsp:<?php echo $tel['name']; ?><br>
                                                       &nbsp &nbsp summary : <?php echo $tel['description']; ?><br>
                                                       &nbsp &nbsp <font color="green">Rate this movie</font>
                                                     